<template name="contact">
    <div class="row">
        <form class="col s12" method="post" action="/FLC">
            <div class="row">
                <div class="input-field col s6">
                    <input  required="required"  id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input required="required"  id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input required="required" id="message" type="text" class="validate">
                    <label for="password">message</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input required="required"  id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    This is an inline input field:
                    <div class="input-field inline">
                        <input required="required"  id="email" type="email" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>
            </div>
            <button class="btn-large pink" type="submit"></button>
        </form>
    </div>
</template>